@charset "utf-8";
/* CSS Document */

td.maintd {
	background-color:#e3f2ff;
	margin:10px;
	padding:10px;
	border:5px;
}

table.maintable {
	margin-left:auto;
	margin-right:auto;
}

.red {
	color:#F60;
	margin:0px;
	padding:0px;
	display:inline-block;
}
